.wrapper {
    padding-bottom: 50px;
    background-image: url("https://static.zerochan.net/Chibiusa.full.1810481.jpg");
    background-size: cover;
    height: 100%;
    display: ms-flexbox;
    -ms-flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    -ms-flex-line-pack: start;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }