nav {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 50px;
    background: transparent;
    /* height: 20%; */
}

a {
    font-size: 3rem;
    color: #fed420;
}

a:hover {
    color: lavender;
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
    /* text-align: center; */
}

ul {
    padding-left: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 750px) {
    #cur-sco, #top-sco {
        font-size: 2rem;
    }
}